* {
    font-family: "Roboto", system-ui;
    padding: 0%;
    margin: 0%;
}

body {
    width: 100%;
    z-index: 1;
    margin-top: 20px;
}

.head-top {
    position: relative;
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0px .9px 10px -5px;
    position: fixed;
    z-index: 1;
}

.head-left {
    display: flex;
    align-items: center;
    width: 10%;
}

.head-left img {
    width: 80px;
    height: 50px;
    margin: 5px 30px;
}

.head-left p {
    margin-top: 20px;
    border-bottom: 2px solid;
    font-weight: 900;
}

/*-------------------------------------------------------------------*/
.head-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    width: 65%;
    height: 100%;
    padding-left: 55px;
    padding-right: 5px;
    justify-content: space-around;
}

.head-right div {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
}

.head-right-icone svg,
.head-icon {
    position: relative;
    left: 20%;
}

.head-icon {
    font-weight: 450;
}

.card {
    fill: #fff;
    stroke-width: 2px;
    stroke: #282c3f;
}

.head-right-icone svg {
    width: 20px;
    height: 20px;
}

.head-right-icone:hover {
    color: red;

}

/*----------------------------main---------------------------------------------*/
.main-div {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    opacity: .99999999999999999999999999999999;
}

.main-box {
    width: 72.5%;
}

.main-dish {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 0px;
}

.main-dish h4 {
    font-weight: 800;
}

.dish-list {
    margin-top: 30px;
    margin-bottom: 40px;
    max-height: 185px;
    display: flex;
    overflow-x: hidden;
}

.img-list {
    width: 13.5%;
    margin-right: 20px;
}

/*-----------------------------Restaurants-------------------------------------*/

.salem {
    margin-top: -40px;
}

.dish-detial {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    gap: 35px;
    overflow-x: hidden;
}

.dish-detial h5 {
    margin-left: 15px;
    margin-top: 15px;
    font-weight: 600;
    margin-bottom: 0px;
}

.detial-hotel p {
    margin-left: 15px;
    margin-top: 3px;
    font-weight: 400;
    color: gray;
    font-size: 18px;
    width: 265px;
}

.img-color-div {
    position: relative;
    width: 280px;
    height: 180px;
    object-fit: cover;
}

.rate {
    position: relative;
    bottom: 35px;
    text-transform: uppercase;
    left: 20px;
    font-weight: 800;
    color: #fff;
    font-size: 24px;
}

.color-img-div {
    position: relative;
    width: 280px;
    height: 180px;
    border-radius: 16px;
}

.img-color {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 16px;
    top: 0;
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
    opacity: .3;
}

.green-star {
    margin-left: 15px;
    background-color: green;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    margin-top: 0px;
}

.main-hotel h4 {
    margin-top: 30px;
    font-weight: 600;
}

/*--------------------------------offer list------------*/
.offer-list {
    position: relative;
    top: 120px;
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.offer-items {
    margin-top: 20px;
    border-radius: 999px;
    border: .1px solid gray;
}

.offer-items p {
    margin: 5px 10px;
    font-size: 13px;
    font-weight: 500;
}

/*----------------------------------------------------*/
.main-hotel-2 {
    position: relative;
    top: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.color-img-div-2 {
    width: 200px;
    height: 140px;
    border-radius: 16px;
}

.rate-2 {
    position: relative;
    bottom: 35px;
    text-transform: uppercase;
    left: 15px;
    font-weight: 900;
    color: #fff;
    font-size: 18.5px;
}

.dish-detial-2 {
    width: 22%;
    margin-top: 15px;
    display: flex;
    margin-left: 25px;
}

.img-color-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 16px;
    top: 0;
    background: linear-gradient(rgb(215, 215, 215), rgb(0, 0, 0));
    opacity: .4;
}

.dish-detial-2 h5 {
    margin-left: 15px;
    font-size: 19px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}

.img-color-div-2 {
    position: relative;
    width: 200px;
    height: 140px;
    object-fit: cover;
    border-radius: 16px;
}

.img-color-div-2 img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.detial-hotel-2 p {
    margin-left: 15px;
    margin-top: 3px;
    font-weight: 400;
    color: gray;
    font-size: 15px;
    width: 180px;
}

.green-star-2 {
    margin-left: 15px;
    background-color: green;
    color: #ffffff;
    border-radius: 50%;
    font-size: 10px;
    padding: 3px;
    margin-top: 10px;
}

/*---------------------------------------------*/

.near-main {
    display: flex;
    flex-wrap: wrap;
}

.near-me {
    width: 21%;
    height: 50px;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    border-radius: 10px;
    margin-right: 4%;
    margin-top: 2%;
}

.near-out-line {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.near-out-line p {
    font-size: 12px;
    font-weight: 500;
}

.main-box-2 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.in-box {
    width: 48%;
    height: 50px;
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    border-radius: 10px;
    margin-right: 4%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-box p {
    margin-bottom: 0;
}

/*-------------------------------------------*/

.play {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    display: flex;
    background-color: #f0f0f5;
}

.swiggy {
    width: 50%;
}

.swiggy p {
    width: 80%;
    font-weight: 800;
    font-size: 30px;
    color: rgb(61 64 70);
}

.play-store {
    position: relative;
    top: 20px;
    width: 50%;
    display: flex;
}

.app-store img {
    width: 90%;
}

/*-----------------------------------------*/
.last-main-div {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #02060c;
    padding-bottom: 0px;
}

.condante {
    width: 90%;
    display: flex;
}

.col1 {
    position: relative;
    bottom: 190px;
    width: 20%;
    display: flex;
    align-items: center;
}

.col2 p,
.col3 p,
.col4 p {
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.col1 img {
    width: 40px;
}
.col1 span, .col2 span, .col3 span, .col3 h5, .col4 span{
    color: #ffffff; 
    font-weight: 800; 
    font-size: 20px;
}
.col2 {
    width: 20%;
}
.col3 {
    width: 20%;
}

.col4 {
    width: 20%;
}










/*-------------------------------------------------display size----------------------------------*/
@media (max-width:2565px) {
    .col2 p, .col3 p, .col4 p {
        font-size: 30px;
    }

    .col1 img {
        width: 70px;
        margin-right: 5px;
    }
    .col1 {
      position: relative;
      top: -180px;
      margin-right: 10px;
    }
    .col1 span, .col2 span, .col3 span, .col3 h5, .col4 span{
        font-size: 35px;
    }
    /*--------------------------------------------*/
    .swiggy p {
        font-size: 50px;
    }

    .play-store {
        position: relative;
        top: 20px;
        width: 50%;
    }

    /*---------------------*/
    .main-hotel-2 {
        justify-content: space-between;
        top: 120px;
        margin-bottom: 50px;
    }

    .color-img-div-2 {
        width: 450px;
        height: 290px;
    }

    .img-color-div-2 img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .img-color-2 {
        border-radius: 15px;
        top: 0;
    }

    .img-color-div-2 {
        width: 450px;
        height: 290px;
    }

    .dish-detial-2 h5 {
        margin-left: 5px;
        font-size: 20px;
        margin-top: 15px;
    }

    .green-star-2 {
        position: relative;
        bottom: 0px;
        margin-left: 5px;
        font-size: 10px;
        padding: 3px;
    }

    .detial-hotel-2 p {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 50px;
        font-size: 18px;
        width: 230px;
    }

    .rate-2 {
        bottom: 30px;
        left: 10px;
        font-size: 20px;
    }

    .dish-detial-2 {
        width: 22%;
        margin-top: 0px;
        margin-left: 0px;
    }

    /*---------------------------------------------------------------------*/
    .offer-list {
        margin-top: -140px;
    }

    .salem {
        margin-top: -30px;
    }

    .img-color-div {
        width: 240px;
        height: 150px;
        border-radius: 5px;
    }

    .color-img-div {
        width: 240px;
        height: 150px;
        border-radius: 10px;
    }

    .img-color {
        border-radius: 10px;
    }

    .rate {
        bottom: 30px;
        left: 18px;
        font-size: 20px;
    }

    .dish-detial {
        margin-top: 2px;
        margin-bottom: 0px;
        gap: 30px;
    }

    .dish-detial h5 {
        margin-left: 5px;
        margin-top: 9px;
        font-size: 15px;
    }

    .green-star {
        position: relative;
        bottom: 0px;
        margin-left: 5px;
        font-size: 10px;
        padding: 3px;

    }

    .radeing {
        position: relative;
        bottom: 0px;
        font-size: 14px;
    }

    .detial-hotel p {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 15px;
        width: 230px;
    }

    .main-hotel h4 {
        position: relative;
        bottom: 140px;
    }

    /*-------------------------------------------Top restaurant chains in Salem------------------------------*/
    .img-list {
        width: 140px;
        margin-right: 24px;
    }

    .main-dish h4 {
        margin-top: 180px;
        font-size: 28px;
    }

    .dish-list {
        margin: 40px 0px;
    }

    /*--------------------------------------main end-----------------------*/
    .head-top {
        height: 150px;
    }

    .head-left img {
        width: 90px;
        height: 90px;
        margin: 5px 15px;
        padding-left: 20px;
    }

    .head-left p {
        font-size: 35px;
        margin-left: 10px;
        border-bottom: 4px solid;
    }

    /*-------head lift end------*/
    .head-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-right div {
        gap: 0px;
    }

    .head-right-icone svg,
    .head-icon {
        left: 0%;
    }

    .head-icon {
        font-size: 30px;
    }

    .head-right-icone svg {
        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    /*------------------------------head left  end -------------------------------*/
}

@media(max-width:1441px) {
    .col2 p, .col3 p, .col4 p {
        font-size: 20px;
    }

    .col1 img {
        width: 60px;
        margin-right: 5px;
    }
    .col1 {
      position: relative;
      top: -180px;
      margin-right: 10px;
    }
    .col1 span, .col2 span, .col3 span, .col3 h5, .col4 span{
        font-size: 25px;
    }
    /*--------------------------------------------*/
    .swiggy p {
        font-size: 29px;
    }

    .play-store {
        position: relative;
        top: 20px;
        width: 50%;
    }

    /*---------------------*/
    .main-hotel-2 {
        justify-content: space-between;
        top: 120px;
        margin-bottom: 50px;
    }

    .color-img-div-2 {
        width: 230px;
        height: 140px;
    }

    .img-color-div-2 img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .img-color-2 {
        border-radius: 10px;
        top: 0;
    }

    .img-color-div-2 {
        width: 230px;
        height: 140px;
    }

    .dish-detial-2 h5 {
        margin-left: 5px;
        font-size: 20px;
        margin-top: 5px;
    }

    .green-star-2 {
        position: relative;
        bottom: 0px;
        margin-left: 5px;
        font-size: 10px;
        padding: 3px;
    }

    .detial-hotel-2 p {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 18px;
        width: 230px;
    }

    .rate-2 {
        bottom: 30px;
        left: 10px;
        font-size: 20px;
    }

    .dish-detial-2 {
        width: 22%;
        margin-top: 0px;
        margin-left: 0px;
    }

    /*---------------------------------------------------------------------*/
    .salem {
        margin-top: -30px;
    }

    .img-color-div {
        width: 250px;
        height: 150px;
        border-radius: 5px;
    }

    .color-img-div {
        width: 250px;
        height: 150px;
        border-radius: 10px;
    }

    .img-color {
        border-radius: 10px;
    }

    .rate {
        bottom: 30px;
        left: 18px;
        font-size: 20px;
    }

    .dish-detial {
        margin-top: 2px;
        margin-bottom: 0px;
        gap: 25px;
    }

    .dish-detial h5 {
        margin-left: 5px;
        margin-top: 9px;
        font-size: 15px;
    }

    .green-star {
        position: relative;
        bottom: 0px;
        margin-left: 5px;
        font-size: 10px;
        padding: 3px;

    }

    .radeing {
        position: relative;
        bottom: 0px;
        font-size: 14px;
    }

    .detial-hotel p {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 15px;
        width: 230px;
    }

    .main-hotel h4 {
        position: relative;
        bottom: 3px;
    }

    /*-------------------------------------------Top restaurant chains in Salem------------------------------*/
    .img-list {
        width: 143px;
        margin-right: 20px;
    }

    .main-dish h4 {
        margin-top: 80px;
        font-size: 24px;
    }

    .dish-list {
        margin: 20px 0px;
    }

    /*--------------------------------------main end-----------------------*/

    .head-top {
        height: 70px;
    }

    .head-left img {
        width: 50px;
        height: 60px;
        margin: 5px 15px;
    }

    .head-left p {
        font-size: 15px;
        margin-left: 10px;
        border-bottom: 3px solid;
    }

    /*-------head lift end------*/
    .head-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-right div {
        gap: 0px;
    }

    .head-right-icone svg,
    .head-icon {
        left: 0%;
    }

    .head-icon {
        font-size: 15px;
    }

    .head-right-icone svg {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    /*------------------------------head left  end -------------------------------*/

}

@media(max-width:1025px) {
    .col2 p, .col3 p, .col4 p {
        font-size: 15px;
    }

    .col1 img {
        width: 50px;
        margin-right: 5px;
    }
    .col1 {
      position: relative;
      top: -125px;
      margin-right: 10px;
    }
    .col1 span, .col2 span, .col3 span, .col3 h5, .col4 span{
        font-size: 20px;
    }
    /*--------------------------------------------*/
    .swiggy p {
        font-size: 20px;
    }

    .play-store {
        position: relative;
        top: 5px;
        width: 50%;
    }

    /*---------------------*/
    #h4-box {
        margin-top: 130px;
    }

    .near-main {
        display: flex;
        flex-wrap: wrap;
    }

    .near-me {
        width: 21%;
        height: 20px;
        border: 1.5px solid rgba(2, 6, 12, 0.1);
        border-radius: 10px;
        margin-right: 4%;
        margin-top: 2%;
    }

    .near-out-line {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .near-out-line p {
        position: relative;
        bottom: 14px;
        font-size: 10px;
        font-weight: 500;
    }

    /*------------------------------------------------------------*/
    .main-hotel-2 {
        justify-content: space-between;
        top: 120px;
        margin-bottom: 50px;
    }

    .color-img-div-2 {
        width: 170px;
        height: 100px;
    }

    .img-color-div-2 img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .img-color-2 {
        border-radius: 10px;
        top: 0;
    }

    .img-color-div-2 {
        width: 170px;
        height: 100px;
    }

    .dish-detial-2 h5 {
        margin-left: 5px;
        font-size: 15px;
        margin-top: 5px;
    }

    .green-star-2 {
        position: relative;
        bottom: 0px;
        margin-left: 5px;
        font-size: 8px;
        padding: 3px;
    }

    .radeing-2 {
        font-size: 15px;
    }

    .detial-hotel-2 p {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 15px;
        width: 160px;
    }

    .rate-2 {
        bottom: 30px;
        left: 10px;
        font-size: 20px;
    }

    .dish-detial-2 {
        width: 22%;
        margin-top: 0px;
        margin-left: 0px;
    }

    /*---------------------------------------------------------------------*/
    .offer-list {
        margin-top: -170px;
        width: 100%;
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        overflow-x: hidden;
    }

    .offer-items {
        height: auto;
        margin-top: 20px;
    }

    .offer-items p {
        margin: 0px 0px;
        padding: 5px;
        font-size: 12px;
    }

    /*------------------------------------------------------*/
    .salem {
        margin-top: -30px;
    }

    .img-color-div {
        width: 230px;
        height: 140px;
        border-radius: 5px;
    }

    .color-img-div {
        width: 230px;
        height: 140px;
        border-radius: 10px;
    }

    .img-color {
        border-radius: 10px;
    }

    .rate {
        bottom: 30px;
        left: 15px;
        font-size: 18px;
    }

    .dish-detial {
        margin-top: 2px;
        margin-bottom: 0px;
        gap: 22px;
    }

    .dish-detial h5 {
        margin-left: 5px;
        margin-top: 9px;
        font-size: 15px;
    }

    .green-star {
        position: relative;
        bottom: 0px;
        margin-left: 5px;
        font-size: 10px;
        padding: 3px;

    }

    .radeing {
        position: relative;
        bottom: 0px;
        font-size: 14px;
    }

    .detial-hotel p {
        margin-left: 5px;
        margin-top: 5px;
        font-size: 15px;
        width: 230px;
    }

    .main-hotel h4 {
        position: relative;
        bottom: 50px;
    }

    /*-------------------------------------------Top restaurant chains in Salem------------------------------*/
    .img-list {
        width: 125px;
        margin-right: 15px;
    }

    .main-dish h4 {
        margin-top: 70px;
        font-size: 22px;
    }

    .dish-list {
        margin: 15px 0px;
    }

    /*--------------------------------------main end-----------------------*/

    .head-top {
        height: 60px;
    }

    .head-left img {
        width: 40px;
        height: 50px;
        margin: 5px 15px;
    }

    .head-left p {
        font-size: 14px;
        margin-left: 10px;
        border-bottom: 2px solid;
    }

    /*-------head lift end------*/
    .head-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-right div {
        gap: 0px;
    }

    .head-right-icone svg,
    .head-icon {
        left: 0%;
    }

    .head-icon {
        font-size: 12px;
    }

    .head-right-icone svg {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    /*------------------------------head left  end -------------------------------*/
}

@media(max-width:769px) {
    .col2 p, .col3 p, .col4 p {
        font-size: 10px;
    }

    .col1 img {
        width: 30px;
        margin-right: 5px;
    }
    .col1 {
      position: relative;
      top: -90px;
      margin-right: 10px;
    }
    .col1 span, .col2 span, .col3 span, .col3 h5, .col4 span{
        font-size: 15px;
    }
    /*--------------------------------------------*/
    .swiggy p {
        font-size: 15px;
    }

    .play-store {
        position: relative;
        top: 5px;
        width: 50%;
    }

    /*---------------------*/
    #h4-box {
        margin-top: 130px;
    }

    .near-main {
        display: flex;
        flex-wrap: wrap;
    }

    .near-me {
        width: 21%;
        height: 15px;
        border: 1.5px solid rgba(2, 6, 12, 0.1);
        border-radius: 10px;
        margin-right: 4%;
        margin-top: 2%;
    }

    .near-out-line {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .near-out-line p {
        position: relative;
        bottom: 14px;
        font-size: 7px;
        font-weight: 500;
    }

    /*------------------------------------------*/
    .main-hotel-2 {
        justify-content: space-between;
        top: 120px;
        margin-bottom: 50px;
    }

    .color-img-div-2 {
        width: 130px;
        height: 80px;
    }

    .img-color-div-2 img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .img-color-2 {
        border-radius: 10px;
        top: 0;
    }

    .img-color-div-2 {
        width: 130px;
        height: 80px;
    }

    .dish-detial-2 h5 {
        margin-left: 5px;
        font-size: 10px;
        margin-top: 5px;
    }

    .green-star-2 {
        position: relative;
        bottom: 8px;
        margin-left: 5px;
        font-size: 4px;
        padding: 3px;
    }

    .radeing-2 {
        font-size: 10px;
    }

    .detial-hotel-2 p {
        margin-left: 5px;
        margin-top: -5px;
        font-size: 10px;
        width: 110px;
    }

    .rate-2 {
        bottom: 20px;
        left: 10px;
        font-size: 10px;
    }

    .dish-detial-2 {
        width: 22%;
        margin-top: 0px;
        margin-left: 0px;
    }

    /*--------------------------------------------*/
    .offer-list {
        margin-top: -170px;
        width: 100%;
        display: flex;
        gap: 5px;
        margin-bottom: 20px;
        overflow-x: hidden;
    }

    .offer-items {
        height: auto;
        margin-top: 20px;
    }

    .offer-items p {
        margin: 0px 0px;
        padding: 5px;
        font-size: 8px;
    }

    /*------------------------------------------------------*/
    .salem {
        margin-top: -30px;
    }

    .img-color-div {
        width: 170px;
        height: 100px;
        border-radius: 5px;
    }

    .color-img-div {
        width: 170px;
        height: 100px;
        border-radius: 10px;
    }

    .img-color {
        border-radius: 10px;
    }

    .rate {
        bottom: 25px;
        left: 10px;
        font-size: 15px;
    }

    .dish-detial {
        margin-top: 2px;
        margin-bottom: 0px;
        gap: 20px;
    }

    .dish-detial h5 {
        margin-left: 5px;
        margin-top: 9px;
        font-size: 12px;
    }

    .green-star {
        position: relative;
        bottom: 7px;
        margin-left: 5px;
        font-size: 5px;
        padding: 3px;

    }

    .radeing {
        position: relative;
        bottom: 5px;
        font-size: 10px;
    }

    .detial-hotel p {
        margin-left: 5px;
        margin-top: -5px;
        font-size: 10px;
        width: 170px;
    }

    .main-hotel h4 {
        position: relative;
        bottom: 45px;
    }

    /*-------------------------------------------Top restaurant chains in Salem------------------------------*/
    .img-list {
        width: 94px;
        margin-right: 10px;
    }

    .main-dish h4 {
        margin-top: 60px;
        font-size: 14px;
    }

    .dish-list {
        margin: 15px 0px;
    }

    /*--------------------------------------main end-----------------------*/

    .head-top {
        height: 50px;
    }

    .head-left img {
        width: 30px;
        height: 40px;
        margin: 5px 10px;
    }

    .head-left p {
        font-size: 12px;
        border-bottom: 2px solid;
        margin-left: 10px;
    }

    /*-------head lift end------*/
    .head-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-right div {
        gap: 0px;
    }

    .head-right-icone svg,
    .head-icon {
        left: 0%;
    }

    .head-icon {
        font-size: 10px;
    }

    .head-right-icone svg {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    /*------------------------------head left  end -------------------------------*/
}

/*-------------------------------------------------*/
@media(max-width:427px) {
    .col2 p, .col3 p, .col4 p {
        font-size: 3px;
    }

    .col1 img {
        width: 15px;
    }
    .col1 {
      position: relative;
      top: -90px;
      margin-right: 20px;
    }
    .col1 span, .col2 span, .col3 span, .col3 h5, .col4 span{
        font-size: 8px;
    }
    /*--------------------------------------------*/
    .swiggy p {
        font-size: 7px;
        position: relative;
        bottom: 6=0px;
    }
    .play-store {
        position: relative;
        top: 5px;
        width: 50%;
    }
    /*---------------------*/
    .in-box p {
        font-size: 7px;
    }
    #h4-box {
        margin-top: 160px;
    }

    .near-main {
        display: flex;
        flex-wrap: wrap;
    }

    .near-me {
        width: 21%;
        height: 10px;
        border: 1.5px solid rgba(2, 6, 12, 0.1);
        border-radius: 10px;
        margin-right: 4%;
        margin-top: 2%;
    }

    .near-out-line {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .near-out-line p {
        position: relative;
        bottom: 13px;
        font-size: 3px;
        font-weight: 500;
    }

    /*------------------------------------------*/
    .main-hotel-2 {
        justify-content: space-between;
        top: 120px;
        margin-bottom: 50px;
    }

    .color-img-div-2 {
        width: 50px;
        height: 30px;
    }

    .img-color-div-2 img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .img-color-2 {
        border-radius: 5px;
        top: 0;
    }

    .img-color-div-2 {
        width: 50px;
        height: 30px;

    }

    .dish-detial-2 h5 {
        margin-left: 1px;
        font-size: 4px;
        margin-top: 5px;
    }

    .green-star-2 {
        position: relative;
        bottom: 10px;
        margin-left: 0px;
        font-size: 3px;
        padding: 1px;
    }

    .radeing-2 {
        font-size: 5px;
    }

    .detial-hotel-2 p {
        margin-left: 1px;
        margin-top: -10px;
        margin-bottom: 0%;
        font-size: 5px;
        width: 50px;
    }

    .rate-2 {
        bottom: px;
        left: 4px;
        margin-top: 10px;
        font-size: 4px;
    }

    .dish-detial-2 {
        width: 22%;
        margin-top: 0px;
        margin-left: 0px;
    }

    /*--------------------------------------------*/

    .offer-list {
        margin-top: -160px;
        width: 100%;
        display: flex;
        gap: 6px;
        margin-bottom: 20px;
        overflow-x: hidden;
    }

    .offer-items {
        height: 12px;
        margin-top: 20px;
    }

    .offer-items p {
        margin: 0px 0px;
        padding: 3px;
    }

    /*------------------------------------------------------*/

    .salem {
        margin-top: -30px;
    }

    .img-color-div {
        width: 70px;
        height: 50px;
        border-radius: 5px;
    }

    .color-img-div {
        width: 70px;
        height: 50px;
        border-radius: 5px;
    }

    .img-color {
        border-radius: 5px;
    }

    .rate {
        bottom: 10px;
        left: 5px;
        font-size: 5px;
    }

    .dish-detial {
        margin-top: 2px;
        margin-bottom: 0px;
        gap: 8px;
    }

    .dish-detial h5 {
        margin-left: 3px;
        margin-top: 5px;
        font-size: 5px;
    }

    .green-star {
        position: relative;
        bottom: 10px;
        margin-left: 1px;
        font-size: 1px;
        padding: 3px;
        margin-top: 0px;
    }

    .radeing {
        position: relative;
        bottom: 10px;
        font-size: 4px;
    }

    .detial-hotel p {
        margin-left: 1px;
        margin-top: -10px;
        font-size: 5px;
        width: 70px;
    }

    .main-hotel h4 {
        position: relative;
        bottom: 25px;
    }

    /*-------------------------------------------Top restaurant chains in Salem------------------------------*/
    .img-list {
        width: 37.5px;
        margin-right: 5px;
    }

    .main-dish h4 {
        font-weight: 800;
        margin-top: 40px;
        font-size: 7px;
    }

    .dish-list {
        margin: 10px 0px;
    }

    /*--------------------------------------main end-----------------------*/

    .head-top {
        height: 30px;
    }

    .head-left img {
        width: 50px;
        height: 20px;
        margin: 5px 5px;
    }

    .head-left p {
        font-size: 10px;
        border-bottom: 1.5px solid;

    }

    /*-------head lift end------*/
    .head-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-right div {
        gap: 0px;
    }

    .head-right-icone svg,
    .head-icon {
        left: 0%;
    }

    .head-icon {
        font-size: 5px;
    }

    .head-right-icone svg {
        width: 10px;
        height: 10px;
        margin-right: 2px;
    }

    /*------------------------------head left  end -------------------------------*/

}